<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WinFormUI.Properties.Settings.flamingoConnectionString"
      connectionString="server=127.0.0.1;User Id=root;password=Mustang999;database=icefish;Persist Security Info=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString" value="server=127.0.0.1;User Id=root;password=Mustang999;Port=3306;Persist Security Info=True;database=icefish;Default Command Timeout=90;Connect Timeout=900;" />
    <!--<add key="ConnectionString" value="311557DD940CD03C7C0291B31D7E77F7A4CF9E009C6ABB213C026EB6775F44C8B90FA83024E4B4957B1788D8BC06F3706F1FEC53474577AEC363BA58776C06CAB5595B69ADC7E01A7EDC122C1509E54D5FF25CBAE0A10DAA712778E4A4607D4830606D4298CAFEA2D18D11215DEEC90746A2B6B6900F02A5B9557184DCF55C14973F21197EE695B050D8547599FD491F5AFCFCC36D5843B4" />-->
    <add key="DBServerName" value="flamingo" />
    <add key="OLEDBConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=ExcelFilePhysicalPath;Extended Properties='Excel 8.0;'" />
    <add key="XLSConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=ExcelFilePhysicalPath;Extended Properties='Excel 8.0;'" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.4.4.0" newVersion="6.4.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>