<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FlamingoEntities" connectionString="metadata=res://*/FlamingoModel.csdl|res://*/FlamingoModel.ssdl|res://*/FlamingoModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.10;User Id=root;Persist Security Info=True;database=flamingo&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>