<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flamingo.DataManageLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Flamingo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Flamingo.DataManageLib.Properties.Settings>
            <setting name="StartYear" serializeAs="String">
                <value>2001</value>
            </setting>
            <setting name="YearPara" serializeAs="String">
                <value>****</value>
            </setting>
            <setting name="DownloadMethod" serializeAs="String">
                <value>HTTP</value>
            </setting>
        </Flamingo.DataManageLib.Properties.Settings>
        <Flamingo.Properties.Settings>
            <setting name="StartYear" serializeAs="String">
                <value>2001</value>
            </setting>
            <setting name="YearPara" serializeAs="String">
                <value>****</value>
            </setting>
            <setting name="DownloadMethod" serializeAs="String">
                <value>HTTP</value>
            </setting>
        </Flamingo.Properties.Settings>
    </userSettings>
</configuration>